html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FONDO DE LA PÁGINA------------*/
body {
  background-color: #283C4C;
  margin-top: 85px;
}


/* RECURSOS ----------------------*/
h2 {
  font-family: 'DM Sans', sans-serif;
  line-height: 1;
  font-size: 37px;
}

.p_celeste {
  color: #57F3FF;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

button {
  color: #17232b;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  display: inline-block;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 0px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fdfdfd;
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 40px;
  cursor: pointer;
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #17232b;
  height: 200px;
  width: 350px;
  border-radius: 50%;
}

button:hover {
  color: #ffffff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}

button:hover:before {
  top: -50px;
  left: -50px;
}

button:active:before {
  background: #2AC8BE;
  transition: background 0s;
}




/*BARRA DE NAVEGACION----------------------------------------------------------------------------*/
nav {
  position: fixed;
  background-color: #16232B;
  height: 85px;
  width: 100%;
  top: 0;
  z-index: 9999;
}

/*LOGO*/
.enlace {
  position: absolute;
  padding: 0;
  height: 85px;
  margin-left: 40px;
}

.logo {
  height: 85px;
  padding: 5px;
}


/*ENLACES*/
nav ul {
  float: right;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  line-height: 85px;
  margin: 0 5px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 7px 10px;
  border-radius: 3px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}


nav li .active::after,
.active_jf::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 0;
  height: 3px;

  transition: transform 0.3s ease, width 0.3s ease;
}

nav li .active::after {
  background-color: #00f3ff;
}

nav li .active_jf::after {
  background-color: #f3c331;
}


nav li a:hover::after {
  transform: translateX(-50%) scaleX(1);
  width: 100%;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 85px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* Desparecer el checkbox */
#check {
  display: none;
}

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }

  nav ul li {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(16, 96, 143, 0.466);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 80px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 30px;
  }

  nav li a:hover,
  nav li a.active,
  .active_jf {
    background: none;
    color: rgb(255, 255, 255);
  }

  #check:checked~ul {
    left: 0;
  }
}

@media only screen and (max-width: 1080px) and (orientation: portrait) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    top: 200px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 80px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 50px;
  }

  nav li a:hover,
  nav li a.active,
  .active_jf {
    background: none;
    color: #17232b;
  }

  #check:checked~ul {
    left: 0;
  }

  nav {
    height: 200px;
  }

  .enlace {
    height: 200px;
  }

  .logo {
    height: 200px;
    padding: 30px 20px;
  }

  body {
    margin-top: 200px;
  }

  .checkbtn {
    font-size: 50px;
    line-height: 200px;
    margin-right: 60px;
    font-size: 70px;
  }

  button {
    font-size: 30px;
  }

  button:before {
    width: 405px;
  }

  .so_boton {
    padding-top: 20px;
  }
}








/*SOMOS----------------------------------------------------------------------------*/
/*SOMOS General-------------------*/
.contenedor_1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "so_texto so_video";
  gap: 3%;
  padding: 0 6%;
  height: 580px;
  align-items: center;
  background: url(../img/img1.webp) no-repeat center/cover fixed;
  background-blend-mode: overlay;
  background-color: #020b11d8;
  color: white;
}

/*SOMOS Video---------------------*/
.so_video {
  grid-area: so_video;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
}

.so_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.so_video .video_frame {
  border: none;
}

.contenedor_1 .so_texto h2,
.contenedor_1 .so_texto p {
  margin: 0% 0% 3% 0%;
}

.so_boton {
  display: flex;
  justify-content: center;
}
.so_texto p{
  grid-area: so_texto;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  line-height: 1.2;
}
/*SOMOS Responsive----------------*/
@media only screen and (max-width: 1080px){
  .contenedor_1 {
    grid-template-columns: 100%;
    padding: 100px 5% 100px 5%;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    height: auto;
    grid-template-areas: "so_video so_video"
    "so_texto so_texto";
    background-attachment: scroll;
  }

  .contenedor_1 .so_texto h2,
  .contenedor_1 .so_texto p {
    margin: 0% 0% 10px 0%;
  }

  .so_texto {
    text-align: center;
    padding: 0 3%;
  }

  .so_texto p {
    font-size: 13px;
  }

  .so_texto h2 {
    font-size: 40px;
  }

  .so_video iframe {
    border-radius: 30px;
  }
}



