







/*SOMOS----------------------------------------------------------------------------*/
/*SOMOS General-------------------*/
.contenedor_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  padding: 0 3.1%;
  height: 580px;
  align-items: center;
  background: url(../img/img1.jpg) no-repeat center/cover fixed;
  background-blend-mode: overlay;
  background-color: #18242c;
  color: white;
}

/*SOMOS Video---------------------*/
.so_video {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
}

.so_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.contenedor_1 .so_texto h2,
.contenedor_1 .so_texto p {
  margin: 0% 0% 3% 0%;
}

.so_boton {
  display: flex;
  justify-content: center;
}

/*SOMOS Responsive----------------*/
@media (max-width:1080px) {
  .contenedor_1 {
    grid-template-columns: 100%;
    padding: 100px 5% 100px 5%;
    grid-row-gap: 40px;
    height: auto;
  }

  .contenedor_1 .so_texto h2,
  .contenedor_1 .so_texto p {
    margin: 0% 0% 10px 0%;
  }

  .so_texto {
    text-align: center;
    padding: 0 3%;
  }

  .so_texto p {
    font-size: 13px;
  }

  .so_texto h2 {
    font-size: 40px;
  }

  .so_video iframe {
    border-radius: 30px;
  }
}






