:root {
  --primero: #16232b;
  --segundo: #283c4c;
  --tercero: #00e3ee;
  --cuarto: #ecf0f1;
}



/*! =================================================*/
/*! =================== General ================== */
/*! =================================================*/
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  background-color: #17394a;
  margin-top: 85px;
}



/*! =================================================*/
/*! =================== Recursos ================== */
/*! =================================================*/
h2 {
  font-family: 'DM Sans', sans-serif;
  line-height: 1;
  font-size: 37px;
}

h3 {
  font-family: 'Poppins', sans-serif;
}

.p_celeste {
  color: var(--tercero);
}

.p_blanco {
  color: white;
}

p {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
}

button {
  color: #17232b;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  display: inline-block;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 0px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fdfdfd;
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--primero);
  height: 200px;
  width: 350px;
  border-radius: 50%;
}


button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}

button:hover:before {
  top: -50px;
  left: -50px;
}

button:active:before {
  background: var(--tercero);
  transition: background 0s;
}



/*! =================================================*/
/*! ============= Barra de navegación ============== */
/*! =================================================*/
nav {
  background: var(--primero);
  position: fixed;
  height: 85px;
  width: 100%;
  top: 0;
  z-index: 9999;
}

/*LOGO*/
.enlace {
  position: absolute;
  margin-left: 40px;
  height: 85px;
}

.logo {
  height: 85px;
  padding: 5px;
}


/*ENLACES*/
nav ul {
  float: right;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  line-height: 85px;
  margin: 0 5px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 7px 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

/*HOVER*/
nav li .active::after,
.active_jf::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 0;
  height: 3px;
  transition: transform 0.3s ease, width 0.3s ease;
}

nav li .active::after {
  background-color: var(--tercero)
}

nav li .active_jf::after {
  background-color: #f3c331;
}


nav li a:hover::after {
  transform: translateX(-50%) scaleX(1);
  width: 100%;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 85px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* Desparecer el checkbox */
#check {
  display: none;
}

@media only screen and (max-width: 950px) {

  .checkbtn {
    display: block;
    font-size: 30px;
    line-height: 80px;
    margin-right: 25px;
  }

  nav {
    height: 80px;
  }

  nav ul {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 25px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 22px;
  }

  nav li a:hover,
  nav li a.active,
  .active_jf {
    color: #2b171b;
  }

  #check:checked~ul {
    left: 0;
  }

  .enlace {
    height: 100%;
    display: flex;
    margin-left: 20px;
    align-items: center;
  }

  .logo {
    height: 65px;
  }

  body {
    margin-top: 80px;
  }
}



/*! =================================================*/
/*! ============= TRABAJE CON NOSOTROS ============= */
/*! =================================================*/
.inicio_trabaja {
  width: 100%;
  height: 450px;
  padding: 0 6%;
  background: url(../img/img4.webp) no-repeat center/cover fixed;
  color: var(--primero);
  display: flex;
  background-blend-mode: overlay;
  background-color: #020b117c;
  justify-content: center;
  align-items: center;
  color: white;
}

.inicio_texto {
  padding: 20px;
  border-radius: 30px;
  background-blend-mode: overlay;
  background-color: #16232bc2;
  width: 600px;
}

.so_boton a {
  text-decoration: none;
}

.inicio_trabaja .inicio_texto h2,
.inicio_trabaja .inicio_texto p {
  text-align: center;
  margin: 0% 0% 20px 0%;
}

.so_boton {
  display: flex;
  justify-content: center;
}

.inicio_texto p {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: bolder;
}

@media only screen and (max-width: 1115px) {
  .inicio_trabaja {
    height: auto;
    padding: 50px 6%;
  }
}

/*--------------- Responsive ---------------*/
@media only screen and (max-width: 590px) {
  .inicio_trabaja {
    height: 300px;
    background-attachment: scroll;
  }

  .inicio_texto h2 {
    font-size: 20px;
  }

  .inicio_trabaja .inicio_texto h2,
  .inicio_trabaja .inicio_texto p {
    margin: 0% 0% 15px 0%;
  }
}

@media only screen and (max-width: 360px) and (orientation: portrait) {
  .inicio_texto p {
    font-size: 15px;
  }
}



/*! =================================================*/
/*! ============= HABILIDADES ============= */
/*! =================================================*/
.contenedor_habilidades {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "equipo_1 equipo_3"
    "equipo_2 equipo_3";
  background-color: #ffffff;
  padding: 70px 10% 40px 10%;
  gap: 10px;
}

.habilidad_texto_1 {
  grid-area: equipo_1;
}

.habilidad_texto_1 p {
  font-size: 18px;
}

.habilidad_texto_2 {
  grid-area: equipo_2;
}

.habilidad_texto_2 h2 {
  font-size: 35px;
}

.habilidad_texto_3 {
  grid-area: equipo_3;
}

.habilidad_texto_3 p {
  font-size: 18px;
}

@media only screen and (max-width: 1115px) {
  .contenedor_habilidades {
    padding: 50px 10% 50px 10%;
  }

  .habilidad_texto_1 p {
    font-size: 15px;
  }

  .habilidad_texto_2 h2 {
    font-size: 30px;
  }

  .habilidad_texto_3 p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 590px) and (orientation: portrait) {
  .contenedor_habilidades {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "equipo_1"
      "equipo_2"
      "equipo_3";
    text-align: center;
    padding: 50px 10% 30px 10%;
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .habilidad_texto_1 p {
    font-size: 18px;
  }

  .habilidad_texto_2 h2 {
    font-size: 22px;
  }

  .habilidad_texto_3 p {
    font-size: 16px;
  }
}



/*! =================================================*/
/*! =================== BENEFICIOS ================== */
/*! =================================================*/
.contenedor_servicio {
  background-color: #ffffff;
  height: auto;
  display: grid;
  padding: 0px 8% 70px 8%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 15px;
  grid-template-areas:
    "servicio_1 servicio_2 servicio_3";
  font-size: 20px;
}

.servicio_1 {
  grid-area: servicio_1;
}

.servicio_2 {
  grid-area: servicio_2;
}

.servicio_3 {
  grid-area: servicio_3;
}

.servicio_1,
.servicio_2,
.servicio_3 {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  background-color: white;
  color: var(--primero);
  height: auto;
}

.contenedor_servicio img {
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  height: auto;
  border-bottom: 10px solid var(--segundo);
  transition: .3s ease all;
}

.contenedor_servicio img:hover {
  border-bottom: 10px solid var(--tercero);
}

.servicio_definicion {
  padding: 20px 6%;
}

.servicio_definicion h3 {
  font-size: 20px;
}

@media only screen and (max-width: 1115px) {
  .contenedor_servicio {
    padding: 0px 6% 30px 6%;
    grid-column-gap: 30px;
    font-size: 16px;
    text-align: center;
  }

  .servicio_definicion {
    padding: 5px 5%;
  }

  .servicio_definicion h3 {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 700px) {
  .contenedor_servicio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "servicio_1 servicio_2" "servicio_3 servicio_3";
    padding: 0px 15% 40px 15%;
    grid-row-gap: 30px;
    text-align: center;
  }

  .servicio_definicion {
    padding: 8px 6% 10px 6%;
    font-size: 16px;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 650px) and (orientation: portrait) {
  .contenedor_servicio {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "servicio_1" " servicio_2" "servicio_3";
    padding: 0px 15% 50px 15%;
    grid-row-gap: 30px;
    text-align: center;
  }

  .servicio_definicion {
    padding: 8px 6% 10px 6%;
    font-size: 16px;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .contenedor_servicio {
    padding: 0px 10% 30px 10%;
    grid-row-gap: 20px;
  }
}


/*! =================================================*/
/*! =================== AREAS ================== */
/*! =================================================*/
.areas_título {
  text-align: center;
  color: var(--primero);
  background-color: #ffffff;
  padding: 30px 6% 20px 6%;
}

.contenedor_areas {
  background-color: #ffffff;
  display: grid;
  padding: 30px 6% 50px 6%;
  gap: 20px;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.areas{
  overflow: hidden;
  border-radius: 15px;
  background-color: var(--primero);
  color: white;
  text-align: center;
}

.contenedor_areas img {
  width: 100%;
  border-radius: 15px;
}

.areas_nombre h3 {
  margin: 3px 0px;
  font-size: 20px;
  font-weight: 500;
}

.boton_areas {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding-bottom: 60px;
}

.boton_areas button {
  width: 12em;
}

.boton_areas button {
  color: var(--primero);
  border: 2px solid var(--tercero);
  background-color: var(--tercero);
}

.boton_areas button:before {
  background: var(--primero);
}

.boton_areas button:hover {
  color: white;
}

@media only screen and (max-width: 1115px) {
  .contenedor_areas {
    grid-row-gap: 20px;
  }

  .areas_nombre h3 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 834px) {
  .contenedor_areas {
    padding: 0px 6% 50px 6%;
  }

  .areas_título h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 680px) {
  .areas_título h2 {
    font-size: 37px;
  }

  .contenedor_areas {
    padding: 10px 6% 40px 6%;
  }
}

@media only screen and (max-width: 414px) and (orientation: portrait) {
  .areas_título h2 {
    font-size: 22px;
  }

  .contenedor_areas h2 {
    padding-bottom: 10px;
  }

  .boton_areas {
    padding-bottom: 50px;
  }
}


/*! =================================================*/
/*! =================== POTENCIAL ===================== */
/*! =================================================*/
.contenedor_potencial {
  width: 100%;
  height: auto;
  padding: 70px 6% 70px 6%;
  background-image: url(../img/wave3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "potencial_presentacion potencial_presentacion potencial_presentacion"
    "potencial_1 potencial_2 potencial_3"
    "potencial_4 potencial_5 potencial_6";
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  color: white;
}

.potencial_presentacion {
  grid-area: potencial_presentacion;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.potencial_1 {
  grid-area: potencial_1;
}

.potencial_2 {
  grid-area: potencial_2;
}

.potencial_3 {
  grid-area: potencial_3;
}

.potencial_4 {
  grid-area: potencial_4;
}

.potencial {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  background-color: var(--segundo);
  height: 180px;
  transition: .3s ease all;
}

.potencial:hover {
  background-color: var(--tercero);
  transition: .3s ease all;
}

.superior {
  display: grid;
  background-color: var(--primero);
  width: 100%;
  height: 92%;
  border-radius: 15px;
  grid-template-columns: 30% 68%;
  grid-column-gap: 2%;
  padding: 10px 20px;
  grid-template-areas: "cierre content";
  align-items: center;
}

.cierre {
  grid-area: cierre;
  background-color: var(--segundo);
  display: flex;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  justify-content: center;
  align-items: center;
}

.cierre i {
  font-size: 35px;
}

.content {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 1115px) {
  .contenedor_potencial {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "potencial_presentacion potencial_presentacion"
      "potencial_1 potencial_2" "potencial_3 potencial_4" "potencial_5 potencial_6";
    grid-row-gap: 20px;
    padding: 60px 6% 30px 6%;
  }
}

@media only screen and (max-width: 944px) {
  .contenedor_potencial {
    padding: 50px 6% 20px 6%;
  }
}

@media only screen and (max-width: 780px) {
  .cierre {
    height: 70px;
    width: 70px;
  }
}

@media only screen and (max-width: 614px) and (orientation: portrait) {
  .contenedor_potencial {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "potencial_presentacion"
      "potencial_1" "potencial_2" "potencial_3"
      "potencial_4" "potencial_5" "potencial_6";
  }

  .potencial_presentacion h2 {
    font-size: 22px;
  }

  .potencial_presentacion h3 {
    font-size: 13px;
  }

  .cierre {
    height: 70px;
    width: 70px;
  }
}



/*! =================================================*/
/*! ============= Preguntas Frecuentes ============= */
/*! =================================================*/
.preguntas {
  padding: 20px 5% 70px 5%;
  background-color: var(--cuarto);
}

.pre_titulo {
  padding-bottom: 35px;
  text-align: center;
  color: var(--primero);
}

.contenedor-preguntas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.contenedor-pregunta {
  background: white;
  padding: 30px 2%;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.11);
}

.contenedor-preguntas.activo {
  display: grid;
}

.contenedor-pregunta:hover {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.342);
}

/*! ============= Preguntas ============= */
.pregunta {
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.pregunta i {
  width: 14px;
  margin-right: 15px;
  color: var(--tercero);
  transition: .3s ease all;
}

.respuesta {
  color: #000000;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 4%;
  max-height: 0;
  opacity: 0;
  transition: .3s ease all;
}

.contenedor-pregunta.activa .respuesta {
  opacity: 1;
  margin-top: 20px;
}

.contenedor-pregunta.activa i {
  transform: rotate(90deg);
}

/*! ============= Responsive Design ============= */
@media only screen and (max-width: 1115px) {
  .preguntas {
    padding: 20px 5% 60px 5%;
  }
}

@media only screen and (max-width: 414px) and (orientation: portrait) {
  .pre_titulo {
    padding-bottom: 35px;
  }

  .preguntas {
    padding: 50px 5%;
    background-color: var(--cuarto);
  }

  .pre_titulo h2 {
    font-size: 22px
  }

  .pregunta {
    font-size: 15px;
    line-height: 15px;
  }

  .respuesta {
    font-size: 15px;
  }

  .contenedor-pregunta {
    padding: 20px 5%;
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .preguntas {
    padding: 30px 8% 30px 8%;
  }

  .pre_titulo {
    padding-bottom: 20px;
  }

  .pre_titulo h2 {
    font-size: 18px;
  }
}



/*! =================================================*/
/*! =================== Footer ===================== */
/*! =================================================*/
/*General--------------------------*/
.contenedor_footer {
  padding: 20px 5% 25px 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "fo_1 fo_2 fo_3 fo_4"
    "fo_5 fo_5 fo_5 fo_5";
  grid-column-gap: 10px;
  color: #343434;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.fo_1 {
  grid-area: fo_1;
  padding: 5%;
}

.fo_2 {
  grid-area: fo_2;
  text-align: left;
  padding: 19px;
  min-height: 10px;
}

.fo_3 {
  grid-area: fo_3;
  text-align: left;
  padding: 19px;
  min-height: 10px;
}

.fo_4 {
  grid-area: fo_4;
  text-align: left;
  padding: 19px 10px;
}

.fo_5 {
  grid-area: fo_5;
  padding: 10px;
  border-top: 1px solid #1c2a33;
}


.fo_2_descripcion {
  text-align: left;
  padding: 12px 0px;
}

.fo_3_descripcion {
  text-align: left;
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}

.fo_3_descripcion a {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  color: #343434;
}

.fo_3_descripcion a:hover {
  color: rgb(0, 0, 0);
}

.fo_4_descripcion {
  padding: 12px 0px;
}

.fo_4_descripcion a {
  display: inline-block;
  /* Añade esta línea */
  width: 40px;
  text-align: center;
  background-color: var(--primero);
  line-height: 40px;
  border-radius: 50%;
  color: var(--tercero);
  font-size: 20px;
  transition: all 0.5s ease;
}
.fo_4_descripcion a:not(:last-child) {
  margin-right: 10px; /* Ajusta el valor según el espacio deseado */
}
.fo_4_descripcion a:not(:last-child) {
  margin-bottom: 10px; /* Ajusta el valor según el espacio deseado */
}


.fo_4_descripcion a:hover {
  background-color: var(--tercero);
  color: var(--primero);
}

.fo_1 img {
  width: 200px;
}

.contenedor_footer h3 {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid var(--tercero);
  display: inline-block;
}

.contenedor_footer p {
  line-height: 1.2;
  font-size: 18px;
}

/*! =================== Responsive ================== */
@media only screen and (max-width: 1024px) {
  .contenedor_footer {
    padding: 20px 4% 20px 4%;
  }

  .contenedor_footer h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 688px) {
  .contenedor_footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "fo_1 fo_2"
      "fo_3 fo_4"
      "fo_5 fo_5";
  }

  .contenedor_footer h3 {
    font-size: 25px;
  }

  .fo_1,
  .fo_2,
  .fo_3,
  .fo_4,
  .fo_5,
  .fo_3_descripcion,
  .fo_2_descripcion,.fo_4_descripcion {
    text-align: center;
  }
}

@media only screen and (max-width: 414px) {
  .contenedor_footer {
    grid-template-columns: 100%;
    grid-template-areas: "fo_1"
      "fo_2"
      "fo_3"
      "fo_4"
      "fo_5";
    padding: 20px 8% 20px 8%;
  }

  .fo_1,
  .fo_2,
  .fo_3,
  .fo_4 {
    padding: 5px 0px;
  }

  .contenedor_footer h3 {
    font-size: 22px;
  }
}